* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
 background-color: #FAF7F2;
}
.top-section{
  background-image: url("./public/assets/iteration-1/home-banner.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  width: 100%;
  height: 1080px;
  margin-top: 0;
  padding-top: 0;
}

.top-section h2{
  font-family: "Londrina Solid";
  color: white;
  font-weight: 400;
  padding: 50px 0 0 0;
  font-size: 50px;
}
.top-section p{
 
  font-family: "Satisfy", cursive;
  color: #FDC913;
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 0;
 
}
.top-section h1{
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  font-size: 5rem;
  line-height: 5.5rem;
  letter-spacing: 1.5px;
  margin: 0px;
  color: white;
}
.top-section a{
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  text-decoration: none;
  color: black;
  background-color: #FDC913;
  border-radius: 50px;
  padding: 10px 50px;
  line-height: 56px;
}
.menu{
  background-color: white;
   width: 1920px;
}
.menu nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  padding: 30px 20%;
 
}
.menu nav a{
  display: flex;
  flex-direction: row;
  gap: 16px;
  font-family: "Barlow", sans-serif;
  color: black;
  font-size: 24px;
  text-decoration: none;
  font-weight: 500;
}
.menu nav a img{
  width: 42px;
  height: 42px;
}
.second-section{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 450px;
  gap: 20px;
  margin-top: 50px;
}

.second-section .container1{
background-image: url(./public/assets/iteration-2/cta/kart-1.png);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
width: 35%;
height: 450px;
border-radius: 20px;
}

.second-section .container1 div{
  padding-left: 50px;
  padding-top: 50px;
}
.second-section .container1 div a{
  display: inline-block;
  font-family: "Barlow", SemiBold;
  margin-top: 10px;
  padding: 10px;
  border-radius: 50px;
  text-decoration: none;
  color: #CE2829;
  background-color: #FAF7F2;
  
}
.second-section .container2{
display: flex;
flex-direction: column;
text-align: left;
width: 35%;
height: 450px;

}
.second-section .container1 h1{
  font-family: "Quattrocento", Bold;
  font-size: 68px;
  line-height: 72px;
  vertical-align: middle;
  flex-wrap: wrap;
  font-weight: 700;
  color: white;
  width: 30%;
}

.second-section .container1,.container2 p{
font-family: "Barlow", SemiBold;
width: 50%;
font-size: 20px;
font-weight: 600;
line-height: 26px;
color: white;
}
.second-section .container2 p{
  font-size: 32px;
}

.second-section .container2 .ust{
background-image: url(./public/assets/iteration-2/cta/kart-2.png);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
height: 220px;
padding-left: 50px;
padding-top: 50px;
border-radius: 20px;
}

.second-section .container2 .ust a{
  display: inline-block;
  font-family: "Barlow", SemiBold;
  font-weight: 600;
  margin-top: 10px;
  padding: 10px;
  border-radius: 50px;
  text-decoration: none;
  color: #CE2829;
  background-color: #FAF7F2;
}

.second-section .container2 .alt{
background-image: url(./public/assets/iteration-2/cta/kart-3.png);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
margin-top: 10px;
height: 220px;
padding-left: 50px;
padding-top: 50px;
border-radius: 20px;

}

.second-section .container2 .alt a{
  display: inline-block;
  font-family: "Barlow", SemiBold;
  font-weight: 600;
  margin-top: 10px;
  padding: 10px;
  border-radius: 50px;
  text-decoration: none;
  color: #CE2829;
  background-color: #FAF7F2;
}